<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.plugin.worldwind.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.plugin.worldwind.Perspective"
            icon="icons/16x16-browser.png"
            id="org.eclipse.plugin.worldwind.Perspective"
            name="World Wind Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="WWPlugin"
            class="org.eclipse.plugin.worldwind.views.EarthView"
            icon="icons/16x16-nasa.png"
            id="org.eclipse.plugin.worldwind.views.EarthView"
            name="Earth View">
      </view>
      <category
            id="WWPlugin"
            name="World Wind">
      </category>
      <!--
      <view
            category="WWPlugin"
            class="org.eclipse.plugin.worldwind.views.LayersView"
            icon="icons/16x16-layers.png"
            id="org.eclipse.plugin.worldwind.views.LayersView"
            name="Layer Navigator">
      </view>
      <view
            category="WWPlugin"
            class="org.eclipse.plugin.worldwind.views.PlacesView"
            icon="icons/16x16-nasa.png"
            id="org.eclipse.plugin.worldwind.views.PlacesView"
            name="My Places">
      </view>
      -->
		<view
            name="Animation Progress View"
            icon="icons/16x16-nasa.png"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView">
         </view>
      <view
            allowMultiple="true"
            category="WWPlugin"
            class="org.eclipse.plugin.worldwind.views.WebBrowserView"
            icon="icons/16x16-browser.png"
            id="org.eclipse.plugin.worldwind.views.WebBrowserView"
            name="Web Browser">
      </view>
      <!--
      <view
            category="WWPlugin"
            class="org.eclipse.plugin.worldwind.views.GeoSearchView"
            icon="icons/16x16-yahoo.png"
            id="org.eclipse.plugin.worldwind.views.GeoSearchView"
            name="GeoSearch View">
      </view>
      -->
      <view
            category="WWPlugin"
            class="org.eclipse.plugin.worldwind.views.NavigatorView"
            icon="icons/16x16-layers.png"
            id="org.eclipse.plugin.worldwind.views.NavigatorView"
            name="Navigator">
      </view>
      <category
            id="WWNetCDF"
            name="NetCDF">
      </category>
         
      <view
            name="NetCDF Viewer"
            category="WWNetCDF"
            allowMultiple="true"
            icon="icons/16-epa.png"
            class="org.eclipse.plugin.worldwind.views.NetCDFView"
            id="org.eclipse.plugin.worldwind.views.NetCDFView">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.plugin.WorldWind.application"
            name="World Wind Geo">
         <property
               name="windowImages"
               value="icons/16x16-nasa.png,icons/32x32-nasa.png">
         </property>
         <property
               name="appName"
               value="World Wind Geo">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,255,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="icons/128-earth.png">
         </property>
         <property
               name="aboutText"
               value="World Wind Geo&#x0A;&#x0A;A browser for the GeoWeb&#x0A;(c) Copyright Vlaimir Silva and others 2007.&#x0A;&#x0A;Based on the World Wind Java SDK.&#x0A;Visit http://worldwind.arc.nasa.gov/java/">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">

      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.eclipse.plugin.worldwind.views.NetCDFView"
               relationship="stack"
               relative="org.eclipse.plugin.worldwind.views.NavigatorView">
         </view>
         
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="WorldWindCommands"
            id="ww.commands">
      </category>
      <command
            name="Open File"
            description="Open file"
            categoryId="ww.commands"
            id="org.eclipse.plugin.worldwind.OpenFile">
      </command>
      <command
            name="Open Weather Wizard"
            description="Open the Weather Wizard"
            categoryId="ww.commands"
            id="org.eclipse.plugin.worldwind.WeatherWizard">
      </command>
      <command
            name="Open WMS Wizard"
            description="Open the WMS Wizard"
            categoryId="ww.commands"
            id="org.eclipse.plugin.worldwind.WMSWizard">
      </command>
      <command
            name="Open Web Browser"
            description="Open Web Browser"
            categoryId="ww.commands"
            id="org.eclipse.plugin.worldwind.Open.WebBrowser">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
      <key
            commandId="org.eclipse.plugin.worldwind.OpenFile"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+O">
      </key>
      <key
            commandId="org.eclipse.plugin.worldwind.WeatherWizard"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+1">
      </key>
      <key
            commandId="org.eclipse.plugin.worldwind.WMSWizard"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+2">
      </key>
      <key
            commandId="org.eclipse.plugin.worldwind.Open.WebBrowser"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+3">
      </key>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.plugin.WorldWind.application"
            name="Wold Wind Geobrowser">
         <property
               name="aboutText"
               value="World Wind Geobrowser">
         </property>
         <property
               name="windowImages"
               value="icons/16x16-nasa.png">
         </property>
         <property
               name="aboutImage"
               value="icons/32x32-nasa.png">
         </property>
         <property
               name="appName"
               value="World Wind Geobrowser">
         </property>
      </product>
   </extension>


	<extension
		point="org.eclipse.ui.actionSets">
	
		<actionSet label="Software Updates"
				visible="true"
	            id="org.eclipse.plugin.worldwind.softwareUpdates">
	                     
	           	<menu label="&amp;Software Updates"
	                  path="help/helpEnd"
	                  id="org.eclipse.plugin.worldwind.updateMenu">
	                  
	              <separator name="group0"> </separator>
	              <separator name="group1"> </separator>
	              
	            </menu>
	            
	            <action label="&amp;Manage Configuration..."
	                   icon="icons/16-sconfig.gif"
	                   helpContextId="org.eclipse.update.ui.newUpdates"
	                   class="org.eclipse.plugin.worldwind.actions.ConfigurationManagerAction"
	                   menubarPath="help/org.eclipse.plugin.worldwind.updateMenu/group0"
	                   id="org.eclipse.plugin.worldwind.configManager">
	            </action>
	            
	            <action label="&amp;Find and Install..."
	                    icon="icons/16-usearch.gif"
	                    helpContextId="org.eclipse.plugin.worldwind.newUpdates"
	                    class="org.eclipse.plugin.worldwind.actions.FindInstallAction"
	                    menubarPath="help/org.eclipse.plugin.worldwind.updateMenu/group0"
	                    id="org.eclipse.plugin.worldwind.newUpdates">
	            </action>
	    </actionSet>
	</extension>		

</plugin>
